@model List<Ability>
@{
    ViewBag.Title = "Display Abilities";
}
<h3 class="text-center">Abilities</h3>
<form asp-controller="Ability" asp-action="DisplayAbilities" method="get">
    <p>
        Search by Ability Name: <input type="text" name="searchName" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr class="text-center">
            <th scope="col">Ability Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td scope="row">@a.AbilityName</td>
                <td>@a.AbilityDescription</td>
            </tr>
        }
    </tbody>
</table>
<footer class="align-content-center">
    <a class="btn btn-primary align-content-center" asp-controller="Home" asp-action="ContentHub">Return to Content Hub</a>
</footer>