@model IQueryable<CustomPokemon>
@{
    ViewBag.Title = "Display All Custom Pokemon";
}

<header>
    <h1 class="text-center">Customized Pokemon</h1>
</header>
<div class="container">
    <h4 class="text-center">Under Construction</h4>
    <p class="text-center">Eventually this page will allow you to search for Pokemon that you or others have customized.</p>
</div>
<footer class="align-content-center">
    <a class="btn btn-primary align-content-center" asp-controller="Home" asp-action="ContentHub">Return to Content Hub</a>
</footer>