@{
    ViewBag.Title = "Customize Pokemon";
}


<header>
    <h1 class="text-center">Customize Pokemon</h1>
</header>
<div class="container">
    <h4 class="text-center">Under Construction</h4>
    <p class="text-center">This page is where users will customize all aspects of a Pokemon (nature, ability, characteristic, moves, EVs, IVs, held item, nickname, etc.) and save the customized Pokemon to their profile.</p>
</div>
<footer class="align-content-center">
    <a class="btn btn-primary align-content-center" asp-controller="Home" asp-action="ContentHub">Return to Content Hub</a>
</footer>
