header{
    background-color:navy;
    color:ghostwhite;
}

body {
    background-color:ghostwhite;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 2px;
}
th{
    font-weight:bold;
    text-align:center;
}

footer {
    background-color: navy;
    color: ghostwhite;
}