@model List<HeldItem>
@{
    ViewBag.Title = "Display All Items";
}

<form asp-controller="HeldItem" asp-action="DisplayAllItems" method="get">
    <p>
        Search by Item Type (Berries or Hold Items): <input type="text" name="searchType" />
        Search by Item Name: <input type="text" name="searchName" />
        <input type="submit" value="Filter" />
    </p>
</form>

<h3 class="text-center">Items</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Item Category</th>
            <th scope="col">Item Name</th>
            <th scope="col">Item Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td scope="row">@i.ItemCat</td>
                <td>@i.ItemName</td>
                <td>@i.ItemEffect</td>
            </tr>
        }
    </tbody>
</table>
