@model IQueryable<PokedexEntry>
@{
    ViewBag.Title = "Pokedex Entries";
}

<header>
    <h1 class="container">Pokedex Entries</h1>
</header>
<div class="container">
    <h4 class="text-center">Under Construction</h4>
    <p class="text-center">Eventually this page will allow users to look up any Pokemon's Pokedex entry.</p>
</div>
<footer class="align-content-center">
    <a class="btn btn-primary align-content-center" asp-controller="Home" asp-action="ContentHub">Return to Content Hub</a>
</footer>