@model List<Characteristic>
@{
    ViewBag.Title = "Display Characteristics";
}
<head>
    <h3 class="text-center">Characteristics</h3>
</head>
<form asp-controller="Characteristic" asp-action="DisplayCharacteristics" method="get">
    <p>
        Search by Characteristic Description: <input type="text" name="searchDescription" />
        Search by Boosted Stat: <input type="text" name="boostedStat" />
        <input type="submit" value="Filter" />
    </p>
    <p class="text-center">
        <h6 class="text-center">Stats Boosted by Characteristics</h6>
        Attack | Defense | Sp. Attack | Sp. Defense | Speed | HP
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Characteristic</th>
            <th scope="col">Benefiting Stat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td scope="row">@c.CharacteristicDescription</td>
                <td>@c.BenefittingStat</td>
            </tr>
        }
    </tbody>
</table>