<div class="container">
    <h4 class="text-center">Account Successfully Updated!</h4>
    <p class="text-center">Your account information has been updated. Return to the Account Overview Page or the Content Hub.</p>
    <div class="row text-align-center">
        <div class="col-6 align-content-center">
            <a class="btn btn-primary" asp-controller="Vgcplayer" asp-action="AccountOverview">Account Overview</a>
        </div>
        <div class="col-6 align-content-center">
            <a class="btn btn-primary" asp-controller="Home" asp-action="ContentHub">Content Hub</a>
        </div>
    </div>
</div>
