<div class="container">
    <h4 class="text-center text-danger">New Passwords Don't Match</h4>
    <p class="text-center">The new passwords you entered do not match each other. Return to the Update Account Page to try again or return to the Account Overview Page</p>
    <div class="row text-align-center">
        <div class="col-6 align-content-center">
            <a class="btn btn-primary" asp-controller="Vgcplayer" asp-action="UpdateAccount">Update Account</a>
        </div>
        <div class="col-6 align-content-center">
            <a class="btn btn-primary" asp-controller="Vgcplayer" asp-action="AccountOverview">Account Overview</a>
        </div>
    </div>
</div>