<p>Thanks for signing up for an account!</p>
<p>Head to the main content hub to begin using the site!</p>
<div>
    <a class="btn btn-primary" asp-controller="Home" asp-action="ContentHub">Content Hub</a>
</div>
