@{
    Layout = "_LogInAndSignUp";
    ViewBag.Title = "Account Creation Complete";
}



    <div class="container">
        <p class="text-center">Thanks for signing up for an account!</p>
        <p class="text-center">CLick below to sign in with your new credentials and begin using the site!</p>
        <a class="btn btn-primary" asp-controller="Vgcplayer" asp-action="SignIn">Sign In</a>
    </div>
