@model Vgcplayer
@{
    ViewBag.Title = "Update Account";
}

<header>
    <h1 class="text-center">Update Account Information</h1>
    <p class="text-center">This will be where users can change the details of their account/profile</p>
</header>
<div class="container">
    <h3 class="text-center">Current User Information</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">User Name</th>
                <th scope="col">User Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">@Model.UserId</td>
                <td>@Model.UserName</td>
                <td>@Model.UserEmail</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container align-items-center">
    <form asp-controller="VgcPlayer" asp-action="UpdateAccount" method="post">
        <div class="form-group">
            <label>New User Name: </label>
            <input type="text" name="newUserName" class="form-control" />
        </div>
        <div class="form-group">
            <label>Current Password: </label>
            <input type="password" name="currentPassword" class="form-control" />
        </div>
        <div class="form-group">
            <label>New Password: </label>
            <input type="password" name="newPasswordV1" class="form-control" />
        </div>
        <div class="form-group">
            <label>Confirm New Password: </label>
            <input type="password" name="newPasswordV2" class="form-control" />
        </div>
        <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Update Account Information" />
        </div>
    </form>
</div>
<div>
    <p>Username:</p>
    <p>Update Email Address:</p>
    <p>Enter Current Password to Authenticate Any Changes:</p>
    <p>Update Password:</p>
    <p>Confirm New Password:</p>
</div>
<div>
    <p>Change your trainer icon:</p>
    <img src="~/Images/Gen_1_Trainer.png" alt="Gen. 1 Trainer">
    <img src="" alt="Gen. 2 Trainer">
    <img src="" alt="Gen. 3 Trainer">
    <img src="" alt="Gen. 4 Trainer">
    <img src="" alt="Gen. 5 Trainer">
    <img src="" alt="Gen. 6 Trainer">
    <img src="" alt="Gen. 7 Trainer">
    <img src="" alt="Gen. 8 Trainer">
</div>

<div>
    <a class="btn btn-primary" asp-controller="Vgcplayer" asp-action="AccountOverview">Return to Account Overview</a>
</div>
<footer>
    <a class="btn btn-primary" asp-controller="Home "asp-action="ContentHub">Return to Content Hub</a>
</footer>

