@{
    ViewBag.Title = "Create Base Team";
}
<!-- This will be where players create their teams for analysis -->


<header>
    <h1 class="text-center">Team Builder</h1>
    <p class="text-center">This page is where users will create their 6-Pokemon Teams (Base Team)</p>
</header>
<div class="container">
    <h4 class="text-center">Under Construction</h4>
    <p class="text-center">Eventually this page will allow you to create a Base Team. In the meantime, to create a team go to the Search Pokemon page and add Pokemon to a Base Team from there.</p>
</div>
<footer class="align-content-center">
    <a class="btn btn-primary align-content-center" asp-controller="Home" asp-action="ContentHub">Return to Content Hub</a>
</footer>

