@{
    ViewBag.Title = "Team Already Full";
}
<div class="container">
    <h5 class="text-align-center">Full House!</h5>
    <p class="text-align-center">This team already has 6 Pokemon, you cannot add any more! Either save the current team and then make a new one, or remove a Pokemon from the current team.</p>
    <div class="row">
        <div class="col align-content-center">
            <a class="btn btn-primary" asp-controller="TeamBase" asp-action="Index">Return to the Team</a>
        </div>
    </div>
</div>
