
<!-- This will display all the details of a user's activity -->

<header>
    <h1>Trainer's Lair</h1>
    <h3>Trainer Name</h3>
    <p>Overall battle Record / Other Stats</p>
    <img src="~/Images/Gen_1_Trainer.png" alt="Trainer Icon" />
</header>
<div>

    <table class="table">
        <caption> Saved Teams</caption>
        <tr>
            <th> Team Number</th>
            <th> Team Name</th>
        </tr>
        <tr>
            <td> 1 </td>
            <td> Team 1 </td>
        </tr>
        <tr>
            <td> 2 </td>
            <td> Team 2 </td>
        </tr>
        <tr>
            <td> 3 </td>
            <td> Team 3 </td>
        </tr>
    </table>
</div>
<div>

    <table class="table">
        <caption> Favorite Teams</caption>
        <tr>
            <th> Team Number</th>
            <th> Team Name</th>
        </tr>
        <tr>
            <td> 1 </td>
            <td> Team 1 </td>
        </tr>
        <tr>
            <td> 2 </td>
            <td> Team 2 </td>
        </tr>
        <tr>
            <td> 3 </td>
            <td> Team 3 </td>
        </tr>
    </table>
</div>
<div>

    <table class="table">
        <caption> Saved Pokemon</caption>
        <tr>
            <th> Pokemon ID Number</th>
            <th> Pokemon Name</th>
            <th> Pokemon Nickname</th>
        </tr>
        <tr>
            <td> 1 </td>
            <td> Bulbasaur </td>
            <td> Sprout </td>
        </tr>
        <tr>
            <td> 2 </td>
            <td> Squirtle </td>
            <td> Bubbles </td>
        </tr>
        <tr>
            <td> 3 </td>
            <td> Charmander </td>
            <td> Spicy </td>
        </tr>
    </table>
</div>
<div>
    <table class="table">
        <caption> Favorite Pokemon</caption>
        <tr>
            <th> Pokemon ID Number</th>
            <th> Pokemon Name</th>
            <th> Pokemon Nickname</th>
        </tr>
        <tr>
            <td> 1 </td>
            <td> Bulbasaur </td>
            <td> Sprout </td>
        </tr>
        <tr>
            <td> 2 </td>
            <td> Squirtle </td>
            <td> Bubbles </td>
        </tr>
        <tr>
            <td> 3 </td>
            <td> Charmander </td>
            <td> Spicy </td>
        </tr>
    </table>
</div>
<div>
    <a class="btn btn-primary" asp-action="UpdateAccount">Update Account</a>
</div>
<footer>
    <a class="btn btn-primary" asp-action="ContentHub">Return to Content Hub</a>
</footer>

