
<!-- This will display all the details of a user's activity -->

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>Lugia's Lair - Account Overview</title>
</head>
<body>
    <header>
        <h1>Trainer's Lair</h1>
        <h3>Trainer Name</h3>
        <p>Overall battle Record / Other Stats</p>
    </header>
    <div>
        <p>Saved Teams</p>
    </div>
    <div>
        <p>Favorite Teams</p>
    </div>
    <div>
        <p>Saved Pokemon</p>
    </div>
    <div>
        <p>Favorite Pokemon</p>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="UpdateAccount">Update Account</a>
    </div>
    <footer>
        <a class="btn btn-primary" asp-action="ContentHub">Return to Content Hub</a>
    </footer>
</body>
</html>
