
<!-- This will be where players analyze the strengths/weaknesses of their teams -->

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>Lugia's Lair - Team Analysis</title>
</head>
<body>
    <p>This is the page where players analyze the strengths/weaknesses of their teams</p>
    <div>
        <a class="btn btn-primary" asp-action="VGCAnalysis">VGC Analysis</a>
    </div>
    <footer>
        <a class="btn btn-primary" asp-action="ContentHub">Return to Content Hub</a>
    </footer>
</body>
</html>
