
<!-- This page is a stretch goal - I will build it if I have time. The goal of the page would be to allow users to specify an opponent's team of 6 Pokemon and then have the website generate the best team to defeat the opponent's team -->

<header>
    <h1>Conditional Team Generator</h1>
</header>
<p>This page is a stretch goal - I will build it if I have time. The goal of the page would be to allow users to specify an opponent's team of 6 Pokemon and then have the website generate the best team to defeat the opponent's team</p>
<footer>
    <a class="btn btn-primary" asp-action="ContentHub">Return to Content Hub</a>
</footer>
