@{
    ViewBag.Title = "Conditional Teams";
}

<header>
    <h1>Conditional Base Team Generator</h1>
</header>
<div class="container">
    <h4 class="text-center">Under Construction</h4>
    <p class="text-center">Eventually this page will allow users to specify an opponent's Base team and then have the application generate a recommended Base Team to counter the opponent's team.</p>
</div>
<footer class="align-content-center">
    <a class="btn btn-primary align-content-center" asp-controller="Home" asp-action="ContentHub">Return to Content Hub</a>
</footer>
