@{
    ViewBag.Title = "Content Hub";
}
<header>
    <h1 class="text-center">Lugia's Lair</h1>
    <h3 class="text-center">Content Hub</h3>
</header>
<div class="text-center">
    <p>Announcements</p>
</div>
<div>
    <a class="btn btn-primary" asp-action="AccountOverview">Account Overview</a>
</div>
<div>
    <a class="btn btn-primary" asp-controller="Pokemon" asp-action="SearchPokemon">Search for Pokemon</a>
</div>
<div>
    <a class="btn btn-primary" asp-action="SearchTeams">Search for Teams</a>
</div>
<div>
    <a class="btn btn-primary" asp-action="CreateTeam">Create Pokemon Team</a>
</div>
<footer class="text-center">
    <p>Links to external Resources</p>
    <table class="text-center">
        <thead>
            <tr>
                <th>
                    <a href="https://serebii.net/" target="_blank">Serebii.net</a>
                </th>
                <th>
                    <a href="https://pokemondb.net/" target="_blank">Pokemon Database</a>
                </th>
                <th>
                    <a href="https://gwvgcstats.netlify.com/#/" target="_blank">VGC Stats</a>
                </th>
                <th>
                    <a href="https://www.pokemon.com/us/" target="_blank">Official Pokemon Website</a>
                </th>
                <th>
                    <a href="https://home.pokemon.com/en-us/features/" target="_blank">Battle Data (in Pokemon Home)</a>
                </th>
            </tr>
        </thead>
    </table>
</footer>





