<div class="container">
    <h3 class="text-center">Copyright Disclaimer</h3>
    <p>I do not own any of the characters (Pokemon) used on this site. The use of such information is purely for educational purposes.</p>
    <p>All rights belong to <a href=https://www.pokemon.com/us/ target="_blank">The Pokemon Company</a> and <a href=https://www.gamefreak.co.jp/ target="_blank">Game Freak</a>.</p>
    <div class="justify-content-center">
        <a class="btn btn-primary" asp-controller="Home" asp-action="ContentHub">Return to Content Hub</a>
    </div>
</div>
