

<!-- This will be where players create their teams for analysis -->

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>Lugia's Lair - Title</title>
</head>
<body>
    <p>This page is where users will create their 6-Pokemon Teams</p>
    <div>
        <a class="btn btn-primary" asp-action="VGCAnalysis">Analyze Selected Team</a>
    </div>
    <footer>
        <a class="btn btn-primary" asp-action="ContentHub">Return to Content Hub</a>
    </footer>
</body>
</html>

