@{
    Layout = null;
}

<!-- This will be where users can customize the stats etc. of a Pokemon -->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lugia's Lair - Customize Pokemon</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body>
    <header>
        <h1>Customize Pokemon</h1>
        <p>This page is where users customize a selected Pokemon</p>
    </header>
    <div>
        <div>
            <img src="~/Images/Lugia_025.jpg" alt="Pokemon Picture" />
        </div>
        <p>Pokemon Name</p>
        <p>Pokemon Number</p>
        <p>Pokedex Entry</p>
        <table>
            <caption> Pokemon Stats</caption>
            <tr>
                <th> Category</th>
                <th> Stat Value</th>
            </tr>
            <tr>
                <td> Base Total </td>
                <td> ### </td>
            </tr>
            <tr>
                <td> Hit Points </td>
                <td> ### </td>
            </tr>
            <tr>
                <td> Attack </td>
                <td> ### </td>
            </tr>
            <tr>
                <td> Defense </td>
                <td> ### </td>
            </tr>
            <tr>
                <td> Special Attack </td>
                <td> ### </td>
            </tr>
            <tr>
                <td> Special Defense </td>
                <td> ### </td>
            </tr>
            <tr>
                <td> Speed </td>
                <td> ### </td>
            </tr>
        </table>
    </div>
    <div>
        <p>Set Pokemon NickName</p>
    </div>
    <div>
        <p>Select Ability</p>
        <p>Type One</p>
        <p>Type Two</p>
        <p>Held Item</p>
    </div>
    <div>
        <p>Move 1:</p>
        <p>Move 2:</p>
        <p>Move 3:</p>
        <p>Move 4:</p>
    </div>
    <div>
        <p>Save Pokemon To User Profile</p>
    </div>
    <footer>
        <a class="btn btn-primary" asp-action="ContentHub">Return to Content Hub</a>
    </footer>
</body>
</html>