

<!-- This will be the home/login page -->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lugia's Lair - Home</title>
    
</head>
<body>
    <header>
        <h1> Lugia's Lair</h1>
        <h2> The Home for all your VGC Analysis Needs </h2>
        <div>
            <p>This is the home/title page to my web application. test  </p>
        </div>
        <img src="~/Images/Mecha_Lugia.jpg" alt="Mecha Lugia"/>
    </header>
    <div>
        <p> Username:</p>
    </div>
    <div>
        <p> Password: </p>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="ContentHub">Log In</a>
    </div>
    <div>
        <p> New Users Sign Up Here! </p>
        <a class="btn btn-primary" asp-action="NewUserSignUp">Create An Account</a>
    </div>

</body>

</html>