@{
    ViewBag.Title = "Home Page";
}


<header class="text-center">
    <h1> Lugia's Lair</h1>
    <h2> The Home for all your VGC Analysis Needs </h2>

</header>
<div>
    <p>This is the home/title page to my web application. </p>
</div>
<img src="~/Images/Mecha_Lugia.jpg" alt="Mecha Lugia" />
<div>
    <p> Username:</p>
</div>
<div>
    <p> Password: </p>
</div>
<div>
    <a class="btn btn-primary" asp-action="ContentHub">Log In</a>
</div>
<div>
    <p> New Users Sign Up Here! </p>
    <a class="btn btn-primary" asp-controller="Vgcplayer" asp-action="NewUserSignUp">Create An Account</a>
</div>
