@{
    ViewBag.Title = "Battle Dashboard";
}
<!-- This page is a stretch goal - I will build it if I have time. The goal of this page is to track all revealed information across a best-of-three Pokemon match -->

<header>
    <h1 class="container">Battle Tracker</h1>
</header>
<div class="container">
    <h4 class="text-center">Under Construction</h4>
    <p class="text-center">Eventually this page will allow users to track all information revealed during a VGC match.</p>
</div>
<footer class="align-content-center">
    <a class="btn btn-primary align-content-center" asp-controller="Home" asp-action="ContentHub">Return to Content Hub</a>
</footer>
