@{
    ViewBag.Title = "Battle Dashboard";
}
<!-- This page is a stretch goal - I will build it if I have time. The goal of this page is to track all revealed information across a best-of-three Pokemon match -->

<header>
    <h1>Battle Tracker</h1>
</header>
<p>Stretch goal: This page is where users will track all information revealed during a VGC match</p>
<footer>
    <a class="btn btn-primary" asp-controller="Home" asp-action="ContentHub">Return to Content Hub</a>
</footer>
