
<!-- This will be the new user account creation page -->

<header>
    <h1>New User Sign Up</h1>
    <h3>Fill out the fields below to create your account</h3>
    <p>This page is where new users will create an account</p>
</header>
<div>
    <p>Create Username:</p>
    <p>Enter Email Address:</p>
    <p>Create Password:</p>
    <p>Confirm Password:</p>
</div>
<div>
    <p>Select your trainer icon:</p>
    <img src="~/Images/Gen_1_Trainer.png" alt="Gen. 1 Trainer">
    <img src="" alt="Gen. 2 Trainer">
    <img src="" alt="Gen. 3 Trainer">
    <img src="" alt="Gen. 4 Trainer">
    <img src="" alt="Gen. 5 Trainer">
    <img src="" alt="Gen. 6 Trainer">
    <img src="" alt="Gen. 7 Trainer">
    <img src="" alt="Gen. 8 Trainer">

</div>
<div>
    <a class="btn btn-primary" asp-action="ContentHub">Create Account and Sign In</a>
</div>
<footer>
    <a class="btn btn-primary" asp-action="ContentHub">Return to Content Hub</a>
</footer>


