
<!-- This will be where players search for Pokemon teams -->

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>Lugia's Lair - Search Teams</title>
</head>
<body>
    <p>Stretch goal: This page is where users will track all information revealed during a VGC match</p>
    <div>
        <a class="btn btn-primary" asp-action="VGCAnalysis">Analyze Selected Team</a>
    </div>
    <footer>
        <a class="btn btn-primary" asp-action="ContentHub">Return to Content Hub</a>
    </footer>
</body>
</html>



