<!-- This will be the page where users look-up a single Pokemon -->


<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>Lugia's Lair - Search Pokemon</title>
</head>
<body>
    <header>
        <h1>Pokemon Lookup</h1>
        <p>This will be the page where users look-up a single Pokemon</p>
    </header>
    <div>
        <p>Search by Name:</p>
    </div>
    <div>
        <p>Search by Ability:</p>
    </div>
    <div>
        <p>Search by Type(s):</p>
    </div>
    <div>
        <p>Search by Moves:</p>
    </div>
    <div>
        <p>Search by Stats:</p>
    </div>
    <div>
        <p>Search by VGC Usage Rank:</p>
    </div>
    <div>
        <p>Submit Query</p>
    </div>
    <div>
        <p>Results List:</p>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="CustomizePokemon">Customize the Selected Pokemon</a>
    </div>
    <footer>
        <a class="btn btn-primary" asp-action="ContentHub">Return to Content Hub</a>
    </footer>
</body>
</html>

