<!-- This will be where users can change the details of their account/profile -->
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>Lugia's Lair - Update Account</title>
</head>
<body>
    <header>
        <h1>Update Account Information</h1>
        <p>This will be where users can change the details of their account/profile</p>
    </header>
    <div>
        <p>Username:</p>
        <p>Update Email Address:</p>
        <p>Enter Current Password to Authenticate Any Changes:</p>
        <p>Update Password:</p>
        <p>Confirm New Password:</p>
    </div>
    <div>
        <p>Change your trainer icon:</p>
        <img src="" alt="Gen. 1 Trainer">
        <img src="" alt="Gen. 2 Trainer">
        <img src="" alt="Gen. 3 Trainer">
        <img src="" alt="Gen. 4 Trainer">
        <img src="" alt="Gen. 5 Trainer">
        <img src="" alt="Gen. 6 Trainer">
        <img src="" alt="Gen. 7 Trainer">
        <img src="" alt="Gen. 8 Trainer">
    </div>

    <div>
        <a class="btn btn-primary" asp-action="AccountOverview">Return to Account Overview</a>
    </div>
    <footer>
        <a class="btn btn-primary" asp-action="ContentHub">Return to Content Hub</a>
    </footer>
</body>
</html>
