@{
    Layout = null;
}
<!-- This will be where users can see all of the possible 4-Pokemon Teams that they could make from a given 6-Pokemon team -->

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lugia's Lair - VGC Teams Generator</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body>
    <header>
        <h1>VGC Teams Generator</h1>
        <p>This page is where users will generate combinations of 4-Pokemon teams for a VGC match from a given 6-Pokemon team</p>
    </header>
    <div>
        <h3>Base Team</h3>
        <img src="~/Images/Lugia_025.jpg" alt="Pokemon 1" />
        <img src="" alt="Pokemon 2" />
        <img src="" alt="Pokemon 3" />
        <img src="" alt="Pokemon 4" />
        <img src="" alt="Pokemon 5" />
        <img src="" alt="Pokemon 6" />
        <p>Generate VGC Teams</p>
    </div>
    <div>
        <h3>VGC Team Combinations</h3>
        <table>
            <caption>Combination #1</caption>
            <tr>
                <th>Category</th>
                <th>Results</th>
            </tr>
            <tr>
                <td>Pokemon</td>
                <td>Pokemon 1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Advantages</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Weaknesses</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Resistances</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Base Stat Avg.</td>
                <td>500</td>
            </tr>
        </table>
        <table>
            <caption>Combination #2</caption>
            <tr>
                <th>Category</th>
                <th>Results</th>
            </tr>
            <tr>
                <td>Pokemon</td>
                <td>Pokemon 1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Advantages</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Weaknesses</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Resistances</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Base Stat Avg.</td>
                <td>500</td>
            </tr>
        </table>
        <table>
            <caption>Combination #3</caption>
            <tr>
                <th>Category</th>
                <th>Results</th>
            </tr>
            <tr>
                <td>Pokemon</td>
                <td>Pokemon 1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Advantages</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Weaknesses</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Resistances</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Base Stat Avg.</td>
                <td>500</td>
            </tr>
        </table>
        <table>
            <caption>Combination #4</caption>
            <tr>
                <th>Category</th>
                <th>Results</th>
            </tr>
            <tr>
                <td>Pokemon</td>
                <td>Pokemon 1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Advantages</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Weaknesses</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Resistances</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Base Stat Avg.</td>
                <td>500</td>
            </tr>
        </table>
        <table>
            <caption>Combination #5</caption>
            <tr>
                <th>Category</th>
                <th>Results</th>
            </tr>
            <tr>
                <td>Pokemon</td>
                <td>Pokemon 1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Advantages</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Weaknesses</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Resistances</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Base Stat Avg.</td>
                <td>500</td>
            </tr>
        </table>
        <table>
            <caption>Combination #6</caption>
            <tr>
                <th>Category</th>
                <th>Results</th>
            </tr>
            <tr>
                <td>Pokemon</td>
                <td>Pokemon 1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Advantages</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Weaknesses</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Resistances</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Base Stat Avg.</td>
                <td>500</td>
            </tr>
        </table>
        <table>
            <caption>Combination #7</caption>
            <tr>
                <th>Category</th>
                <th>Results</th>
            </tr>
            <tr>
                <td>Pokemon</td>
                <td>Pokemon 1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Advantages</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Weaknesses</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Resistances</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Base Stat Avg.</td>
                <td>500</td>
            </tr>
        </table>
        <table>
            <caption>Combination #8</caption>
            <tr>
                <th>Category</th>
                <th>Results</th>
            </tr>
            <tr>
                <td>Pokemon</td>
                <td>Pokemon 1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Advantages</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Weaknesses</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Resistances</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Base Stat Avg.</td>
                <td>500</td>
            </tr>
        </table>
        <table>
            <caption>Combination #9</caption>
            <tr>
                <th>Category</th>
                <th>Results</th>
            </tr>
            <tr>
                <td>Pokemon</td>
                <td>Pokemon 1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Advantages</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Weaknesses</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Resistances</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Base Stat Avg.</td>
                <td>500</td>
            </tr>
        </table>
        <table>
            <caption>Combination #10</caption>
            <tr>
                <th>Category</th>
                <th>Results</th>
            </tr>
            <tr>
                <td>Pokemon</td>
                <td>Pokemon 1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Advantages</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Weaknesses</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Resistances</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Base Stat Avg.</td>
                <td>500</td>
            </tr>
        </table>
        <table>
            <caption>Combination #11</caption>
            <tr>
                <th>Category</th>
                <th>Results</th>
            </tr>
            <tr>
                <td>Pokemon</td>
                <td>Pokemon 1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Advantages</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Weaknesses</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Resistances</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Base Stat Avg.</td>
                <td>500</td>
            </tr>
        </table>
        <table>
            <caption>Combination #12</caption>
            <tr>
                <th>Category</th>
                <th>Results</th>
            </tr>
            <tr>
                <td>Pokemon</td>
                <td>Pokemon 1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Advantages</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Weaknesses</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Resistances</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Base Stat Avg.</td>
                <td>500</td>
            </tr>
        </table>
        <table>
            <caption>Combination #13</caption>
            <tr>
                <th>Category</th>
                <th>Results</th>
            </tr>
            <tr>
                <td>Pokemon</td>
                <td>Pokemon 1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Advantages</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Weaknesses</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Resistances</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Base Stat Avg.</td>
                <td>500</td>
            </tr>
        </table>
        <table>
            <caption>Combination #14</caption>
            <tr>
                <th>Category</th>
                <th>Results</th>
            </tr>
            <tr>
                <td>Pokemon</td>
                <td>Pokemon 1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Advantages</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Weaknesses</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Resistances</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Base Stat Avg.</td>
                <td>500</td>
            </tr>
        </table>
        <table>
            <caption>Combination #15</caption>
            <tr>
                <th>Category</th>
                <th>Results</th>
            </tr>
            <tr>
                <td>Pokemon</td>
                <td>Pokemon 1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Advantages</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Weaknesses</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Type Resistances</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Base Stat Avg.</td>
                <td>500</td>
            </tr>
        </table>
    </div>




    <div>
        <a class="btn btn-primary" asp-action="VGCTeamPicker">Conditional VGC Battle Teams</a>
    </div>
    <footer>
        <a class="btn btn-primary" asp-action="ContentHub">Return to Content Hub</a>
    </footer>
</body>
</html>



