
<!-- This will be where users can see all of the possible 4-Pokemon Teams that they could make from a given 6-Pokemon team -->

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>Lugia's Lair - Welcome</title>
</head>
<body>
    <p>This page is where users will generate combinations of 4-Pokemon teams for a VGC match</p>
    <div>
        <a class="btn btn-primary" asp-action="VGCTeamPicker">Generate VGC Battle Teams</a>
    </div>
    <footer>
        <a class="btn btn-primary" asp-action="ContentHub">Return to Content Hub</a>
    </footer>
</body>
</html>



