@{
    Layout = null;
}
<!-- This page is a stretch goal - I will build it if I have time. Given the player's and opponent's 6-Pokemon teams, the app will first develop the opponent's optimal 4-Pokemon Team and then generate the player's optimal 4-Pokemon team based on the opponent's 4-Pokemon team -->

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lugia's Lair - Conditional VGC Team Selector</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body>
    <header>
        <h1>Conditional VGC Team Selector</h1>
        <p>Stretch goal: Given the player's and opponent's 6-Pokemon teams, the app will first develop the opponent's optimal 4-Pokemon Team and then generate the player's optimal 4-Pokemon team based on the opponent's 4-Pokemon team</p>
    </header>
    <footer>
        <a class="btn btn-primary" asp-action="ContentHub">Return to Content Hub</a>
    </footer>
</body>
</html>

