@model List<string[]>
@{
    ViewBag.Title = "Generate VGC Teams";
}
<!-- This will be where users can see all of the possible 4-Pokemon Teams that they could make from a given 6-Pokemon team -->


<header class="text-center">
    <h1>VGC Teams Generator</h1>
    <p>This page is where users will generate combinations of 4-Pokemon teams for a VGC match from a given 6-Pokemon team</p>
    <p>Note: This page is currently only a demo, and therefore it comes pre-populated with a group of VGC combinations. Enter your own team of 6 Pokemon below in order to generate a fresh set of VGC combinations.</p>
</header>
<form asp-controller="TeamVgc" asp-action="VGCAnalysis" method="post">
    <h3>Enter 6 Pokemon as a Base Team to generate VGC Teams:</h3>
    <div class="form-group">
        <label>Pokemon One: </label>
        <input type="text" name="pokemonOne" />
    </div>
    <div class="form-group">
        <label>Pokemon Two:</label>
        <input type="text" name="pokemonTwo" />
    </div>
    <div class="form-group">
        <label>Pokemon Three:</label>
        <input type="text" name="pokemonThree" />
    </div>
    <div class="form-group">
        <label>Pokemon Four:</label>
        <input type="text" name="pokemonFour" />
    </div>
    <div class="form-group">
        <label>Pokemon Five:</label>
        <input type="text" name="pokemonFive" />
    </div>
    <div class="form-group">
        <label>Pokemon Six:</label>
        <input type="text" name="pokemonSix" />
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Generate VGC Team Combos" />
    </div>
</form>
@for (int i = 0; i < 15; i++)
{
    <table class="table">
        <thead>
            <h4 class="text-center">VGC Team Combination #@i</h4>
            <tr>
                <th scope="col">Pokemon One</th>
                <th scope="col">Pokemon Two</th>
                <th scope="col">Pokemon Three</th>
                <th scope="col">Pokemon Four</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td scope="row">@Model[i][0]</td>
                    <td>@Model[i][1]</td>
                    <td>@Model[i][2]</td>
                    <td>@Model[i][3]</td>
                </tr>
        </tbody>
    </table>
}

<div>
    <a class="btn btn-primary" asp-controller="TeamVgc" asp-action="VGCTeamPicker">Conditional VGC Battle Teams</a>
</div>
<footer>
    <a class="btn btn-primary"asp-controller="Home" asp-action="ContentHub">Return to Content Hub</a>
</footer>



