@{
    ViewBag.Title = "Conditional VGC Teams";
}

<header>
    <h1 class="text-center">Conditional VGC Team Selector</h1>
</header>
<div class="container">
    <h4 class="text-center">Under Construction</h4>
    <p class="text-center">Eventually this page will take the player's and opponent's 6-Pokemon Base Teams as input, the application will first develop the opponent's optimal 4-Pokemon VGC Team and then generate the player's optimal 4-Pokemon VGC Team based on the opponent's 4-Pokemon team.</p>
</div>
<footer class="align-content-center">
    <a class="btn btn-primary align-content-center" asp-controller="Home" asp-action="ContentHub">Return to Content Hub</a>
</footer>



